.hero{
    width: 100%;
    background: linear-gradient(rgba(123, 123, 123, 0.8),rgba(123, 123, 123, 0.7)), url("../../assets/hero.png");
    height: 65vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text{
    text-align: center;
    max-width: 800px;
    /* color: #000; */
}
.hero-text h1{
    font-size: 40px;
    font-weight: 600;
    
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}
.getintouchform form input, .getintouchform form textarea {
    width: 100%;
    display: block;
    border-radius: 15px;
    padding: 15px;
    border: 0.25px solid #ccc;
    outline: 0;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 0px; 
    margin-right: 100px; 
    resize: none;
    font-size: 16px;
}
.getintouchform form{
    max-width: 500px;
    margin-right:22px;
    
}
.dark-btn {
    background: #FF4B3E;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #FFF;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}
