nav{
    width: 100%;
    background: #fff;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}
.logo {
    width: 100px;
}

.logo:hover {
    cursor: pointer;
}
nav ul li {
   
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    
}

nav ul li:hover {
    color: #FF4B3E; 
}

/* Navbar.css */
.nav-link {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav-link.active {
    /* font-weight: bold; */
    color: #FF4B3E;
    border-bottom: 2px solid #FF4B3E;
  }
  